@model IEnumerable<MVCExample.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@TempData["msg"]
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <a href='@Url.Action("Edit", new {id=@item.id })'><i class="btn btn-warning" style="color:white">Edit</i></a> |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new {@class="btn btn-danger" })
        </td>
    </tr>
}

</table>
